{
    "t1": "testdata/dt-neuro-anat-t1w.id-5b3402c316fe38002748e90e/t1.nii.gz",
    "t2": "testdata/dt-neuro-anat-t2w.id-5b34037a16fe38002748e90f/t2.nii.gz",
    "version": "6.0.1",
    "notalcheck": false,
    "hires": false,
    "cw256": true,
    "debug": true 
}

